@import "tailwindcss";

@theme {
  --color-primary-green-200: hsl(148, 38%, 91%);
  --color-primary-green-600: hsl(169, 82%, 27%);
  --color-primary-red: hsl(0, 66%, 54%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-gray-500: hsl(186, 15%, 59%);
  --color-neutral-gray-900: hsl(187, 24%, 22%);
}

body {
  @apply bg-primary-green-200 text-neutral-gray-900 accent-primary-green-600;
}

h2 {
  @apply text-2xl font-bold;
}

label,
p {
  @apply text-base;
}

label {
  @apply mb-2;
}

input[type="text"],
input[type="email"],
textarea,
.query-type-box {
  @apply rounded-md border border-neutral-gray-500 focus:border-2 focus:border-primary-green-600 focus:outline-none focus:ring-0 h-10;
}

input.input-error,
textarea.input-error {
  @apply border-primary-red;
}

div:has(> input[type="radio"]:checked) {
  @apply bg-primary-green-200;
}

button,
button[type="submit"] {
  @apply cursor-pointer rounded-md w-full bg-primary-green-600 px-6 py-2 text-neutral-white hover:brightness-75;
}

button:disabled,
button[type="submit"]:disabled {
  @apply opacity-50;
}

.error {
  @apply text-primary-red mt-1;
}

.required {
  @apply text-primary-green-600;
}

.toast-message {
  @apply text-sm;
}
